cmd/gowsdl/Dream.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gpsso.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://gpsso.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;欢迎访问：&lt;a href='http://www.gpsso.com'&gt;www.gpsso.com&lt;/a&gt;，谢谢您的支持！&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gpsso.com/">
      <s:element name="SearchDreamInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dream" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchDreamInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchDreamInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApiSoapHeader" type="tns:ApiSoapHeader" />
      <s:complexType name="ApiSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="APICode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchDreamInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchDreamInfo" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchDreamInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoHttpGetIn">
    <wsdl:part name="Dream" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoHttpPostIn">
    <wsdl:part name="Dream" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchDreamInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="DreamSoap">
    <wsdl:operation name="SearchDreamInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">请输入解梦关键字：（如：爱人、朋友、钓鱼）</wsdl:documentation>
      <wsdl:input message="tns:SearchDreamInfoSoapIn" />
      <wsdl:output message="tns:SearchDreamInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DreamSoap" type="tns:DreamSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchDreamInfo">
      <soap:operation soapAction="http://gpsso.com/SearchDreamInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchDreamInfoApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DreamSoap12" type="tns:DreamSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchDreamInfo">
      <soap12:operation soapAction="http://gpsso.com/SearchDreamInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchDreamInfoApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dream">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;欢迎访问：&lt;a href='http://www.gpsso.com'&gt;www.gpsso.com&lt;/a&gt;，谢谢您的支持！&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="DreamSoap" binding="tns:DreamSoap">
      <soap:address location="http://www.gpsso.com/WebService/Dream/Dream.asmx" />
    </wsdl:port>
    <wsdl:port name="DreamSoap12" binding="tns:DreamSoap12">
      <soap12:address location="http://www.gpsso.com/WebService/Dream/Dream.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
