fixtures/stock.wsdl

<definitions name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd">
	<types>
		<schema targetNamespace="http://example.com/stockquote.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="TradePriceRequest">
				<complexType>
					<all>
						<element name="tickerSymbol" type="string"/>
					</all>
				</complexType>
			</element>
			<element name="TradePrice">
				<complexType>
					<all>
						<element name="price" type="float"/>
					</all>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="GetLastTradePriceInput">
		<part element="xsd1:TradePriceRequest" name="body"/>
	</message>
	<message name="GetLastTradePriceOutput">
		<part element="xsd1:TradePrice" name="body"/>
	</message>
	<portType name="StockQuotePortType">
		<operation name="GetLastTradePrice">
			<input message="tns:GetLastTradePriceInput"/>
			<output message="tns:GetLastTradePriceOutput"/>
		</operation>
	</portType>
	<binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetLastTradePrice">
			<soap:operation soapAction="http://example.com/GetLastTradePrice"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="StockQuoteService">
		<documentation>My first service</documentation>
		<port binding="tns:StockQuoteBinding" name="StockQuotePort">
			<soap:address location="http://example.com/stockquote"/>
		</port>
	</service>
</definitions>
