fixtures/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.mnb.hu/webservices/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.mnb.hu/webservices/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MNB curreny exchange rate webservice.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mnb.hu/webservices/">
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element name="Id">
              <s:annotation>
                <s:documentation>comment</s:documentation>
              </s:annotation>
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:minLength value="2"/>
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string">
                <s:annotation>
                    <s:documentation>this is a comment</s:documentation>
                </s:annotation>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseStatus">
        <s:sequence>
          <s:element name="status" minOccurs="0" maxOccurs="unbounded">
            <s:complexType>
              <s:simpleContent>
                <s:extension base="s:string">
                  <s:attribute name="code" use="required">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="UnrecognizedTrimName" />
                        <s:enumeration value="UnusedTrimName" />
                      </s:restriction>
                    </s:simpleType>
                  </s:attribute>
                </s:extension>
              </s:simpleContent>
            </s:complexType>
          </s:element>
        </s:sequence>
        <s:attribute ref="tns:responseCode"/>
      </s:complexType>
      <s:attribute name="responseCode">
        <s:simpleType>
          <s:restriction base="s:string">
            <s:enumeration value="Successful" />
            <s:enumeration value="Unsuccessful" />
            <s:enumeration value="ConditionallySuccessful" />
          </s:restriction>
        </s:simpleType>
      </s:attribute>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="MNBArfolyamServiceType">
    <wsdl:operation name="GetInfoSoap">
      <wsdl:input message="tns:GetInfoSoapIn"/>
      <wsdl:output message="tns:GetInfoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MNBArfolyamBinding" type="tns:MNBArfolyamServiceType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoSoap">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MNBArfolyamService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MNB curreny exchange rate webservice.</wsdl:documentation>
    <wsdl:port name="MNBArfolyamServiceSoap" binding="tns:MNBArfolyamBinding">
      <soap:address location="http://example.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
